* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none !important;
  margin-bottom: 0px;
  padding-left: 0px;
}

body {
  background-color: var(--bg-color);
}

:root {
  --black-color: black;
  --bg-color: #fff;
  --border-box: 1px solid #e7e4e4bb;
}

:root.active {
  --bg-color: #000917;
  --black-color: white;
  --border-box: 1px solid rgb(255 255 255 / 10%);
}

/* ==========================Header============== */
header {
  width: 100%;
  background-color: var(--bg-color);
  /* min-height: 80px; */
  border-bottom: var(--border-box);
  padding: 15px 0px;
}

header .row {
  align-items: center !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
}

header .leftSide,
header .middleSide,
header .rightSide {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  gap: 20px;
}

header .leftSide .logo img {
  width: 50px;
  height: 50px;
}

header .leftSide .logo img {
  width: 50px;
  height: 50px;
}

header .leftSide input {
  padding: 6px 15px;
  border-radius: 5px;
  border: var(--border-box);
  outline: none;
  width: 70%;
  background-color: var(--bg-color);
  color: var(--black-color);
}

header .middleSide {
  justify-content: space-between;
}

header .middleSide li a {
  color: #0e2645bd;
  font-size: 25px;
}

header .rightSide {
  justify-content: center;
  gap: 40px;
}

header .rightSide li a {
  color: var(--black-color);
  font-size: 25px;
}

header .middleSide li {
  height: 100%;
  display: flex;
  align-items: center;
}

header .middleSide li:first-child {
  border-bottom: 1px solid #0e2645bd;
  border-radius: 5px;
}

@media (max-width: 992px) {
  header .middleSide {
    justify-content: space-between;
  }

  header .row {
    justify-content: center !important;
  }

  header .con {
    margin-bottom: 30px;
    text-align: center;
  }

  header .leftSide {
    justify-content: center;
  }

  header .rightSide {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  /* .leftSide input {
        width: 200px
    } */
}

/* ==========================Header============== */
/* ========================main================ */
main {
  padding: 30px 0px;
}

main .lSide,
main .rSide,
main .mSide {
  transform: scale(1);
  transition: all 0.5s ease;
}

main .lSide ul li,
main .rSide ul li {
  margin-bottom: 20px;
}

main .lSide ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

main .lSide ul li a svg {
  font-size: 25px;
  color: orange;
}

main .lSide ul li a span {
  color: var(--black-color);
  margin-left: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

main .lSide .shortcuts ul li,
main .rSide .yourPages ul li {
  display: flex;
  align-items: center;
}

main .lSide .shortcuts ul li img,
main .rSide .yourPages ul li img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

main .lSide .shortcuts ul li span,
main .rSide .yourPages ul li span {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-color);
  text-transform: capitalize;
}

main .rSide > div,
main .mSide > div {
  border: var(--border-box);
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}

main .rSide .cadu,
main .rSide .names {
  display: flex;
  align-items: center;
}

main .rSide .cadu svg {
  color: orange;
  font-size: 35px;
}

main .rSide .cadu span,
main .rSide .names li span,
main .mSide .search .feat span {
  color: var(--black-color);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

main .rSide .names li span {
  font-weight: 400;
}

main .rSide .names li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

main .mSide .search .feat li {
  display: flex;
  align-items: center;
}

main .mSide .search .feat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .mSide .search .feat span {
  margin-left: 5px;
}

main .mSide .pages .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .mSide .pages .head .left {
  display: flex;
  align-items: center;
}

main .mSide .pages .head .left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main .mSide .pages .head .left .details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

main .mSide .pages .head .left .details .name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
}

main .mSide .pages .head .left .details .date {
  color: lightgray;
  font-weight: 500;
}

main .mSide .pages .head .right svg {
  font-size: 20px;
}

main .mSide .pages .theImg img {
  border-radius: 6px;
  height: 400px;
}

main .mSide .pages .theImg h6 {
  color: var(--black-color);
  font-size: 18px;
  margin-bottom: 10px;
}

main .mSide .pages .theImg .details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

main .mSide .pages .theImg .details a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 18px;
}

main .mSide .pages .theImg .details a span {
  margin-left: 15px;
}

main .mSide .pages .foot input {
  width: 80%;
  padding: 6px 15px;
  border-radius: 10px;
  outline: none;
  border: var(--border-box);
  color: var(--black-color);
  background-color: var(--bg-color);
}

.storyHead {
  border-bottom: var(--border-box);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.storyHead > div {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.storyHead > div span {
  margin-left: 10px;
}

.storyHead > div:first-child {
  border-bottom: 3px solid orange;
}

/* =============================swiper============= */
.swiper {
  width: 100% !important;
  height: 230px;
}

.swiper .swiper-wrapper .swiper-slide {
  border-radius: 5px;
  border: 3px solid rgb(249, 186, 70);
  position: relative !important;
}

.swiper .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.swiper .swiper-wrapper .swip-one {
  position: relative !important;
}

.swiper .swiper-wrapper .swip-one span {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: var(--bg-color);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}

.swiper .swiper-wrapper .swip-one span svg {
  position: absolute;
  top: -13px;
  left: 41%;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 50%;
}

.swiper .swiper-wrapper .swiper-slide .smallImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.swiper .swiper-wrapper .swiper-slide .name {
  position: absolute;
  bottom: 20px;
  left: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.833);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: white !important;
}

/* =============================swiper============= */

/* =======================media query============= */
@media (min-width: 768px) and (max-width: 992px) {
  .shortcuts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .shortcuts ul li {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  main .mSide .pages .theImg .details a {
    font-size: 15px;
  }

  main .mSide .pages .theImg .details a span {
    margin-left: 5px;
  }

  main .rSide {
    display: none;
  }

  main .mSide .search .feat span {
    font-size: 13px;
  }

  main .lSide .shortcuts ul li span,
  main .rSide .yourPages ul li span {
    font-size: 15px;
  }
}

/* ========================main================ */
/* ==============mode======= */
header .rightSide .setting {
  position: relative;
}

header .rightSide .setting .menu {
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  padding: 15px 10px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  transform: scale(0);
  transition: all 0.3s ease;
  z-index: 999;
}

header .rightSide .setting .menu.active {
  transform: scale(1);
  transition: all 0.3s ease;
}

header .rightSide .setting .menu .theme,
header .rightSide .setting .menu .hideLeftSide,
header .rightSide .setting .menu .hideRightSide {
  width: 70px;
  height: 30px;
  display: flex;
}

header .rightSide .setting .menu span {
  font-size: 17px;
  font-weight: 500;
}

header .rightSide .setting .menu div label {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #ebebeb;
  display: block;
  position: relative;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.5) inset 0 -5px 15px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

header .rightSide .setting .menu div label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  left: 3px;
  top: 3px;
  transition: all 0.3s ease;
}

header .rightSide .setting .menu div input {
  width: 0;
  height: 0;
  visibility: hidden;
}

header .rightSide .setting .menu div input:checked + label {
  background-color: #242424;
}

header .rightSide .setting .menu div input:checked + label::after {
  left: 40px;
  background: linear-gradient(180deg, #777, #3a3a3a);
}

@media (max-width: 768px) {
  .rightSide .menu .hide-right {
    display: none !important;
  }
}

/* ==============mode======= */
